# Diagnostics
[*.cs]
dotnet_diagnostic.CS8981.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.IDE0161.severity = none
dotnet_diagnostic.IDE0005.severity = none